.CompanyHomePage {

}
#wrapper {
    width: 500px;
    border: 1px solid black;
    overflow: hidden; /* add this to contain floated children */
}
#first {
    width: 300px;
    float:left; /* add this */
    
}
#second {
    float: inline-start;
    /* add this */
}
#third {
    float: right;
    /* add this */
}